@charset "utf-8";
// Base
$primary-color: #185abd; // 主题色
$body-background: #fff;
$title-color: #17233d; // 标题字体颜色
$text-color: #333; // 正文字体颜色
$tip-color: #999; // 提示字体颜色
// 弱化色
$weaken-color: #858585; // 弱化色
$weaken-font-color: $weaken-color; // 弱化字体色
